
/* This helps center the etch a sketch to the center of the screen. */
.centerScreen
{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.gridContainer
{
    display: flex;
    flex-wrap: wrap;
    width: 960px;
    height: 960px;
    background-color: aqua;
}
.gridBox
{
    color: red;
    background-color: blanchedalmond;
}

.hover
{
    background-color: black;
}